#tinymce {
  padding: 15px 10px; }

.muted {
  color: #4A4A4A;
  opacity: .65; }

.arrow {
  display: inline-block;
  margin-left: 3px;
  width: 6px;
  height: 6px;
  border-left: 2px solid #E4E1DA;
  border-bottom: 2px solid #E4E1DA;
  transform: rotate(-45deg);
  transform-origin: 3px -3px 0; }

input[type="checkbox"] {
  display: none; }
  input[type="checkbox"] + label {
    padding-left: 40px;
    position: relative;
    cursor: pointer; }
    input[type="checkbox"] + label::before {
      width: 23px;
      height: 23px;
      border: 1px solid #D0D0D0;
      border-radius: 3px;
      position: absolute;
      top: -3px;
      left: 0;
      content: ''; }
  input[type="checkbox"]:checked + label::before {
    background: #87CE50 url(../img/svg/checked.svg) center center no-repeat;
    background-size: 12px 9px;
    border-color: #87CE50; }

label {
  color: #34485D;
  font-size: 14px;
  font-weight: normal; }

.gradient-sidebar {
  height: 100%; }
  .gradient-sidebar > .container {
    height: 100%; }
    @media (max-width: 992px) {
      .gradient-sidebar > .container {
        height: auto; } }
    .gradient-sidebar > .container > .row {
      height: 100%; }
      .gradient-sidebar > .container > .row > .col-md-4, .gradient-sidebar > .container > .row > .col-md-8 {
        height: 100%; }
        @media (max-width: 992px) {
          .gradient-sidebar > .container > .row > .col-md-4, .gradient-sidebar > .container > .row > .col-md-8 {
            height: auto; } }
  @media (max-width: 768px) {
    .gradient-sidebar .col-md-4 {
      background: rgba(174, 192, 200, 0.1); } }
  .gradient-sidebar .col-md-8 {
    background: #ffffff; }

html,
body {
  height: 100%; }

body {
  width: 100%;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  background: linear-gradient(to right, rgba(174, 192, 200, 0.1) 35%, transparent 65%); }
  @media (max-width: 768px) {
    body {
      font-size: 14px; } }
  @media (max-width: 992px) {
    body {
      background: #ffffff; } }

h1,
.h1 {
  margin: 0;
  padding: 50px 0 30px;
  font-size: 36px;
  font-weight: bold; }
  @media (max-width: 768px) {
    h1,
    .h1 {
      font-size: 27px;
      padding: 20px 0 15px; } }

h2,
.h2 {
  margin: 0;
  padding: 10px 0;
  font-size: 21px;
  font-weight: bold; }

h3,
.h3 {
  color: #000000;
  font-size: 18px;
  font-weight: normal;
  opacity: .7; }

a {
  transition: 300ms linear; }

p {
  margin: 0;
  padding: 0 0 20px;
  line-height: 1.4; }
  @media (max-width: 768px) {
    p {
      padding-bottom: 10px; } }

.btn {
  font-size: 14px;
  font-weight: 300;
  border-radius: 4px;
  padding-left: 20px;
  padding-right: 20px; }

.btn-primary {
  background: #27384A;
  border-color: #27384A; }

.btn-info {
  background: #2DB7F5;
  border-color: #2DB7F5; }

.btn-warning {
  background: #FB612C;
  border-color: #FB612C; }
  .btn-warning:hover, .btn-warning:focus, .btn-warning:active:hover {
    background: #fb6c3b;
    border-color: #fb6c3b; }
  .btn-warning:active {
    background: #fb561d;
    border-color: #fb561d; }

.btn-clock {
  padding-left: 35px;
  position: relative; }
  .btn-clock::before {
    width: 15px;
    height: 15px;
    background: transparent url("../img/svg/clock.svg") 0 0 no-repeat;
    background-size: 14px;
    position: absolute;
    left: 10px;
    top: 8px;
    content: ''; }

.btn-block {
  box-sizing: border-box;
  padding: 10px 13px 8px;
  font-size: 14px;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.9);
  font-weight: normal;
  line-height: 18px; }
  .btn-block .pull-right {
    font-size: 12px;
    line-height: 20px;
    color: #AAAAAA; }
  .btn-block.btn-default {
    background: #F6F8F9;
    border-color: #F6F8F9;
    border-radius: 4px; }
    .btn-block.btn-default:hover {
      background: #27384A;
      color: #ffffff; }
  .btn-block.btn-info {
    background: #F6F8F9;
    border-color: #2DB7F5;
    color: #2DB7F5; }

.label {
  padding-top: .3em;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 300; }

.label-info {
  background-color: #2DB7F5; }

.media {
  color: #000000; }
  .media p {
    padding-top: 5px;
    font-size: 14px;
    line-height: 1.15;
    padding-bottom: 10px; }
    @media (max-width: 768px) {
      .media p {
        padding-top: 0; } }
  .media .progress {
    margin-bottom: 2px; }
  .media small {
    color: #34485D;
    font-size: 12px;
    opacity: .5; }

.progress {
  height: 7px;
  max-width: 90%;
  border-radius: 0;
  box-shadow: none;
  background-color: rgba(193, 197, 201, 0.45); }

.progress-bar {
  box-shadow: none; }

.progress-bar-success {
  background: #87CE50; }

.progress-bar-info {
  background: rgba(255, 255, 255, 0.45); }

.status-item .status-num {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  padding-right: 15px;
  font-weight: 500; }
.status-item .status-text {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  font-weight: 300; }

.header {
  color: #ffffff;
  z-index: 10; }

.header-top {
  padding: 0;
  background: #27384A;
  border: none; }
  .header-top.navbar {
    border-radius: 0;
    margin-bottom: 0; }
  @media (max-width: 768px) {
    .header-top .container {
      padding: 0;
      margin: 0; } }
  @media (max-width: 768px) {
    .header-top .navbar-header {
      margin-left: 0;
      margin-right: 0; } }
  @media (max-width: 768px) {
    .header-top.navbar-inverse .navbar-nav {
      padding: 5px 0; } }
  .header-top.navbar-inverse .navbar-nav > li > a {
    padding: 15px 20px;
    color: #ffffff;
    font-size: 15px;
    font-weight: normal;
    opacity: .5; }
    .header-top.navbar-inverse .navbar-nav > li > a:hover {
      opacity: 1; }
    @media (max-width: 768px) {
      .header-top.navbar-inverse .navbar-nav > li > a {
        padding: 10px 15px; } }
  .header-top.navbar-inverse .navbar-nav > li.exit-link {
    display: none; }
    @media (max-width: 768px) {
      .header-top.navbar-inverse .navbar-nav > li.exit-link {
        display: block; } }
  .header-top .navbar-header {
    width: 100%;
    position: relative; }
  .header-top .nav {
    padding-left: 35px; }
    @media (max-width: 768px) {
      .header-top .nav {
        display: none; }
        .header-top .nav.collapse.in {
          display: block;
          margin: 0;
          padding-left: 0;
          width: 100%;
          background: #374A60; } }
  .header-top.navbar-inverse .navbar-toggle {
    padding: 9px 15px;
    position: absolute;
    left: 0;
    border: none;
    border-radius: 0; }
    .header-top.navbar-inverse .navbar-toggle:focus, .header-top.navbar-inverse .navbar-toggle:hover {
      background: #27384A; }
    .header-top.navbar-inverse .navbar-toggle .icon-bar {
      background: #949DA8; }

.navbar-inverse .navbar-nav.user-menu > .open > a,
.navbar-inverse .navbar-nav.user-menu > .open > a:focus,
.navbar-inverse .navbar-nav.user-menu > .open > a:hover {
  background: #374A60;
  opacity: 1; }

.user-menu > li a {
  color: #ffffff;
  font-size: 15px;
  opacity: .5; }
.user-menu .dropdown-menu {
  min-width: 150px;
  box-sizing: border-box;
  padding: 0;
  background: #374A60;
  border: none;
  border-radius: 0; }
  .user-menu .dropdown-menu > li > a {
    padding: 10px 20px; }
    .user-menu .dropdown-menu > li > a:hover {
      background: #374A60;
      color: #ffffff;
      opacity: 1; }

.header-logo-link {
  display: inline-block;
  color: #FAF4EC;
  font-size: 18px;
  line-height: 50px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase; }
  .header-logo-link:hover, .header-logo-link:focus {
    color: #ffffff;
    text-decoration: none;
    outline: none; }
  @media (max-width: 768px) {
    .header-logo-link {
      float: none;
      width: 100%;
      text-align: center; } }

.header-bottom {
  padding: 15px 0;
  background: #374A60;
  color: #F2F2F2; }
  @media (max-width: 992px) {
    .header-bottom {
      display: none; } }
  .header-bottom .status-item {
    width: 100%;
    font-size: 0;
    opacity: .6; }
  .header-bottom .status-num {
    max-width: 50%;
    font-size: 30px;
    font-weight: 500; }
    @media (max-width: 1200px) {
      .header-bottom .status-num {
        font-size: 28px; } }
  .header-bottom .status-text {
    width: 50%;
    font-size: 13px;
    font-weight: 300; }
    @media (max-width: 1200px) {
      .header-bottom .status-text {
        font-size: 12px; } }
  .header-bottom .status-item-fund {
    display: inline-block;
    text-align: right;
    color: #F2F2F2;
    opacity: .6;
    cursor: pointer; }
    .header-bottom .status-item-fund:hover {
      opacity: 1; }
    .header-bottom .status-item-fund .status-num {
      width: 73%;
      padding-right: 10px;
      max-width: 100%; }
    .header-bottom .status-item-fund .status-text {
      width: 20%;
      text-align: left; }
      @media (max-width: 1200px) {
        .header-bottom .status-item-fund .status-text {
          width: 22%; } }
    .header-bottom .status-item-fund .status-help {
      display: inline-block;
      width: 5%;
      line-height: 30px;
      position: relative; }
      .header-bottom .status-item-fund .status-help::before {
        position: absolute;
        top: 8px;
        left: 0;
        content: '';
        width: 14px;
        height: 14px;
        background: transparent url("../img/svg/question.svg") 0 0 no-repeat;
        background-size: 14px; }

.sidebar {
  padding-top: 30px;
  padding-right: 25px; }
  @media (max-width: 768px) {
    .sidebar {
      padding: 0 0 20px; }
      .sidebar .btn-clock {
        width: 100%;
        text-align: left;
        border-radius: 2px 2px 4px 4px; } }
  @media (max-width: 768px) {
    .sidebar .h3 {
      display: none; } }
  @media (max-width: 768px) {
    .sidebar .sub-text {
      display: none; } }
  .sidebar .sub-text {
    font-size: 13px;
    color: #000000;
    opacity: .5; }
  .sidebar .sidebar-list {
    display: none; }
  .sidebar .media-link {
    display: inline-block;
    margin-bottom: 40px;
    position: relative;
    z-index: 8; }
    @media (max-width: 768px) {
      .sidebar .media-link {
        margin-bottom: 20px; }
        .sidebar .media-link:last-of-type {
          margin-bottom: 0; } }
    .sidebar .media-link:before {
      opacity: 0;
      width: 108%;
      height: 140%;
      background: #ffffff;
      border: 1px solid #EAEAEA;
      border-radius: 4px;
      position: absolute;
      top: -20%;
      left: -4%;
      content: '';
      z-index: -1;
      transition: 400ms linear; }
      @media (max-width: 768px) {
        .sidebar .media-link:before {
          width: 104%;
          height: 125%;
          top: -12.5%;
          left: -2%; } }
    .sidebar .media-link:hover {
      text-decoration: none; }
      .sidebar .media-link:hover::before {
        display: block; }
  .sidebar .media-link-active::before {
    opacity: 1; }
  .sidebar .media-links-list {
    margin-top: 30px;
    border-top: 1px solid rgba(151, 151, 151, 0.1);
    border-bottom: 1px solid rgba(151, 151, 151, 0.1);
    padding-top: 30px; }
    @media (max-width: 768px) {
      .sidebar .media-links-list {
        border: none;
        margin-top: 5px; } }
    .sidebar .media-links-list:hover .media-link::before,
    .sidebar .media-links-list:hover .media-link-active::before {
      opacity: 0; }
    .sidebar .media-links-list:hover .media-link:hover::before,
    .sidebar .media-links-list:hover .media-link-active:hover::before {
      opacity: 1; }

.dashbord {
  padding-left: 50px;
  margin-bottom: 50px; }
  @media (max-width: 992px) {
    .dashbord {
      padding-left: 0; } }
  .dashbord p {
    font-size: 18px; }

.book {
  padding-top: 45px;
  padding-left: 40px; }
  @media (max-width: 768px) {
    .book {
      padding-left: 0;
      padding-top: 20px; } }
  .book .media {
    margin-bottom: 50px; }
    @media (max-width: 768px) {
      .book .media {
        margin-bottom: 15px; } }
    .book .media .h2 {
      padding-bottom: 5px; }
      @media (max-width: 768px) {
        .book .media .h2 {
          display: none; } }
    .book .media .media-left {
      padding-right: 20px; }
      @media (max-width: 768px) {
        .book .media .media-left {
          display: none; } }
    .book .media .book-about {
      padding-bottom: 5px; }
      @media (max-width: 768px) {
        .book .media .book-about {
          display: none; } }
    .book .media .book-author {
      padding-right: 20px; }
  .book .book-nav {
    margin-bottom: 35px; }
  .book .book-progress {
    margin-bottom: 35px; }
    .book .book-progress .progress {
      max-width: 100%;
      margin-top: 25px;
      margin-bottom: 0;
      background-color: #27384A;
      overflow: visible; }
    .book .book-progress .progress-bar {
      position: relative; }
    .book .book-progress .progress-bar-success::before {
      width: 14px;
      height: 20px;
      background: transparent url("../img/svg/run-man.svg") 0 0 no-repeat;
      background-size: 14px 20px;
      position: absolute;
      top: -23px;
      right: -4px;
      content: ''; }
    .book .book-progress .progress-bar-info::before {
      width: 10px;
      height: 14px;
      background: transparent url("../img/svg/flag.svg") 0 0 no-repeat;
      background-size: 10px 14px;
      position: absolute;
      top: -18px;
      right: -9px;
      content: ''; }
  .book .status-item {
    color: #374A60; }
    .book .status-item .status-num {
      font-size: 37px;
      line-height: 1;
      font-weight: bold; }
    .book .status-item .status-text {
      font-size: 14px; }
  .book .book-chapters .input-group {
    margin-bottom: 25px; }

.report .h2 {
  padding-bottom: 25px; }
.report .panel-group .panel-default {
  border-color: transparent;
  border-radius: 0 0 4px 4px;
  box-shadow: none;
  overflow: hidden; }
.report .panel-group .panel-heading {
  background: #FB612C;
  color: #ffffff;
  padding: 13px;
  line-height: 16px;
  border-radius: 4px 4px 0 0; }
.report .panel-group .panel-title-num {
  padding-right: 25px;
  font-weight: 300;
  font-size: 13px;
  position: relative; }
  .report .panel-group .panel-title-num::after {
    width: 8px;
    height: 8px;
    border-left: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    transform: rotate(-45deg);
    position: absolute;
    top: 2px;
    right: 0;
    content: ''; }
.report .panel-group .panel-body {
  background: rgba(233, 233, 233, 0.4);
  padding: 15px; }
  .report .panel-group .panel-body p {
    padding-bottom: 10px;
    line-height: 1.5; }
    .report .panel-group .panel-body p:last-of-type {
      padding-bottom: 0; }
.report .edit-form .input-groug {
  padding-top: 20px; }
  .report .edit-form .input-groug .btn-primary {
    margin-right: 10px; }

@media (max-width: 768px) {
  .book-page .media-links-list {
    display: none; } }
.book-page .sidebar-list {
  width: 100%;
  margin-top: 20px;
  list-style: none;
  padding: 0;
  font-size: 0; }
  .book-page .sidebar-list > li {
    padding: 10px;
    background: #ffffff;
    border: 1px solid #CCCCCC;
    border-radius: 3px; }
    .book-page .sidebar-list > li.open {
      border-radius: 3px 3px 0 0; }
  .book-page .sidebar-list a {
    color: #000000;
    font-size: 14px; }
  .book-page .sidebar-list .caret {
    display: inline-block;
    margin-top: 9px; }
  .book-page .sidebar-list img {
    width: 15px;
    max-width: 15px;
    height: auto;
    margin-right: 10px; }
  .book-page .sidebar-list .dropdown-menu {
    width: 100%;
    margin: 0;
    padding: 10px 0;
    border-radius: 0 0 3px 3px;
    border: 1px solid #CCCCCC;
    box-shadow: none; }
    .book-page .sidebar-list .dropdown-menu > li > a {
      white-space: normal; }
      .book-page .sidebar-list .dropdown-menu > li > a:hover, .book-page .sidebar-list .dropdown-menu > li > a:focus, .book-page .sidebar-list .dropdown-menu > li > a:active {
        color: #27384A; }
  @media (max-width: 768px) {
    .book-page .sidebar-list {
      display: block; } }

.report-page {
  padding-top: 30px; }
  .report-page .back-link {
    margin-bottom: 25px;
    display: inline-block;
    padding-left: 15px;
    color: rgba(0, 0, 0, 0.4);
    font-size: 14px;
    position: relative; }
    .report-page .back-link::before {
      width: 8px;
      height: 8px;
      border-left: 2px solid rgba(0, 0, 0, 0.4);
      border-bottom: 2px solid rgba(0, 0, 0, 0.4);
      transform: rotate(45deg);
      position: absolute;
      top: 4px;
      left: 0;
      content: ''; }
    .report-page .back-link:hover, .report-page .back-link:focus {
      color: black;
      text-decoration: none; }
      .report-page .back-link:hover::before, .report-page .back-link:focus::before {
        border-color: black; }
