.head
  h1 Книги
  button.btn.btn-default Добавить книгу

.row
  .col-xs-3
    .media
      .media-left
        img.pull-left(src='assets/img/book-1.png', alt='')
      .media-body
        b Жизнь на полной мощности
        p.book-about
          span.book-author Джим Лоэр
          span.muted 300 стр
        button.btn.btn-default Редактировать
  .col-xs-3
    .media
      .media-left
        img.pull-left(src='assets/img/book-2.jpg', alt='')
      .media-body
        b Будь лучшей версией себя
        p.book-about
          span.book-author Дэн Вальдшмитт
          span.muted 300 стр
        button.btn.btn-default Редактировать
  .col-xs-3
    .media
      .media-left
        img.pull-left(src='assets/img/book-3.png', alt='')
      .media-body
        b Триггеры. Развивай полезные привычки
        p.book-about
          span.book-author Дэн Вальдшмитт
          span.muted 300 стр
        button.btn.btn-default Редактировать
  .col-xs-3
    .media
      .media-left
        img.pull-left(src='assets/img/book-2.jpg', alt='')
      .media-body
        b Будь лучшей версией себя
        p.book-about
          span.book-author Дэн Вальдшмитт
          span.muted 300 стр
        button.btn.btn-default Редактировать
  .col-xs-3
    .media
      .media-left
        img.pull-left(src='assets/img/book-3.png', alt='')
      .media-body
        b Триггеры. Развивай полезные привычки
        p.book-about
          span.book-author Дэн Вальдшмитт
          span.muted 300 стр
        button.btn.btn-default Редактировать
  .col-xs-3
    .media
      .media-left
        img.pull-left(src='assets/img/book-1.png', alt='')
      .media-body
        b Жизнь на полной мощности
        p.book-about
          span.book-author Джим Лоэр
          span.muted 300 стр
        button.btn.btn-default Редактировать
  .col-xs-3
    .media
      .media-left
        img.pull-left(src='assets/img/book-3.png', alt='')
      .media-body
        b Триггеры. Развивай полезные привычки
        p.book-about
          span.book-author Дэн Вальдшмитт
          span.muted 300 стр
        button.btn.btn-default Редактировать
  .col-xs-3
    .media
      .media-left
        img.pull-left(src='assets/img/book-2.jpg', alt='')
      .media-body
        b Будь лучшей версией себя
        p.book-about
          span.book-author Дэн Вальдшмитт
          span.muted 300 стр
        button.btn.btn-default Редактировать
  .col-xs-3
    .media
      .media-left
        img.pull-left(src='assets/img/book-1.png', alt='')
      .media-body
        b Жизнь на полной мощности
        p.book-about
          span.book-author Джим Лоэр
          span.muted 300 стр
        button.btn.btn-default Редактировать