include ./mixins.jade

+editpanel('Редактируем книгу', 'Добавить задание')

.book-edit
  .container
    .row
      .col-xs-6
        form.form-horizontal
          .form-group.row
            label.col-xs-2.col-form-label(for='book-name') Название
            .col-xs-10
              input.form-control#book-name(type='text', placeholder='Будь лучшей версией себя')
          .form-group.row
            label.col-xs-2.col-form-label(for='book-author') Автор
            .col-xs-9
              input.form-control#book-author(type='text', placeholder='Дэн Вальдшмидтт')
          .form-group.row
            label.col-xs-2.col-form-label(for='book-img') Обложка
            .col-xs-9
              input.form-control#book-img(type='text', placeholder='http://mypic.io/232423.png')
          .form-group.row
            label.col-xs-2.col-form-label(for='book-peges') Страницы
            .col-xs-2
              input.form-control#book-pages(type='text', placeholder='300')
          .form-group.row
            .col-xs-4
              button.btn.btn-info(type='submit') Сохранить
            .col-xs-7
              p Применится ко всем пользователям сразу. осторожно!
      .col-xs-6
        .media
          .media-left
            img.pull-left(src='assets/img/book-1.png', width='77', height='109', alt='')
          .media-body
            b 7 навыков высокоэффективных людей
            p Дэн Вальдшмидтт
            p.muted 300 страниц, 9 глав
          