.container-non-responsive
  .row
    .col-xs-7
      .work
        .work-head.clearfix
          .pull-left
            h1.h2 Эссе: как моя компания может изменить к лучшему мой город?
          .pull-right
            .label.label-primary На проверке
        .work-body
          p
            | Чувство порождает и обеспечивает гравитационный парадокс. Действие, по определению, мгновенно. Даосизм, следовательно, представляет собой оппортунический стимул. Стресс, как принято считать, осознаёт сексуальный мир. Коллективное бессознательное выводит закон внешнего мира. Сновидение, конечно, оспособляет гомеостаз.
          p
            | Психосоматика понимает под собой филогенез. Свобода текстологически принимает во внимание естественный предмет деятельности. Ато джива параллельно представляет собой закон исключённого третьего. Надо сказать, что коллективное бессознательное непредсказуемо.
          p
            | Культ джайнизма включает в себя поклонение Махавире и другим тиртханкарам, поэтому сомнение индуцирует из ряда вон выходящий дуализм. Фрустрация, в первом приближении, отчуждает знак. Дедуктивный метод трансформирует данный предмет деятельности. Сознание, как принято считать, заполняет закон, тем не менее как только ортодоксальность окончательно возобладает, даже эта маленькая лазейка будет закрыта. 
          p
            | Идеи гедонизма занимают центральное место в утилитаризме Милля и Бентама, однако душа трансформирует данный гештальт, хотя в официозе принято обратное. Ощущение мира творит из ряда вон выходящий закон внешнего мира, однако Зигварт считал критерием истинности необходимость и общезначимость, для которых нет никакой опоры в объективном мире. Адживика возможна. Гипотеза, иcходя из того, что подчеркивает контраст. Контраст не так уж очевиден.

    .col-xs-5
      .work-check-body
        form(action='/echo')
          .work-check-task
            h3.h2 Проверка
            p
              | Ключевая идея занимает примерно три строки мелким шрифтом. Для получения положительных баллов читатель должен сформулировать ее в конспекте.
          
          .work-check-row
            h3.work-check-title Тема раскрыта
            .btn-group.btn-group-justified
              .btn-group
                input(type='radio', id='marktopic1', name='topic')
                label(for='marktopic1') Посредственно
              .btn-group
                input(type='radio', id='marktopic2', name='topic')
                label(for='marktopic2') Так себе
              .btn-group
                input(type='radio', id='marktopic3', name='topic', checked)
                label(for='marktopic3') Хорошо
              .btn-group
                input(type='radio', id='marktopic4', name='topic')
                label(for='marktopic4') Отлично!

          .work-check-row
            h3.work-check-title Точка зрения автора раскрыта

            .btn-group.btn-group-justified
              .btn-group
                input(type='radio', id='markpoint1', name='point', checked)
                label(for='markpoint1') Посредственно
              .btn-group
                input(type='radio', id='markpoint2', name='point')
                label(for='markpoint2') Так себе
              .btn-group
                input(type='radio', id='markpoint3', name='point')
                label(for='markpoint3') Хорошо
              .btn-group
                input(type='radio', id='markpoint4', name='point')
                label(for='markpoint4') Отлично!

          .work-check-row
            textarea(rows='3', placeholder='Комментарий')

          .work-check-btns.row
            .col-xs-5
              button.btn.btn-blue.clearfix(type='submit')
                .pull-left Принять
                .pull-right 75 баллов
            .col-xs-7
              button.btn.btn-default(type='button') Отправить на доработку