.admin-head
  .container-non-responsive.clearfix
    .pull-left
      ol.breadcrumb
        li
          a(href='#') Сергей Лукерин
        li.active Жизнь на полной мощности
    .pull-right
      a.btn.btn-clear(href='#') Следующая работа