.dashbord
  h1 Добро пожаловать на неделю 2!
  p
    | Поздравляем тех, кто прошел прошлые 7 дней и особенно тех, кто дочитал книгу Триггеры за неделю!
  p
    | Впереди очередные 200 страниц, вы узнаете о том, как управлять своей энергией, не выгорать и как полезно провести время, если вы не можете уснуть. Также вы получите несколько практических упражнений, которые помогут вам жить лучше и читать больше.
  p
    | А сейчас мы хотим поделиться несколькими видео:

  img.img-responsive(src='http://placehold.it/850x300')