head
  meta(charset='utf-8')
  meta(name='viewport', content='width=1200')
  title Тотальная читка
  script(src='https://code.jquery.com/jquery.min.js')
  link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&amp;subset=cyrillic,cyrillic-ext", rel="stylesheet")
  link(href='assets/css/bootstrap.min.css', rel='stylesheet', type='text/css')
  link(href='assets/css/custom.css', rel='stylesheet', type='text/css')
  script(src='assets/css/bootstrap.min.js')
  script(src='https://use.fontawesome.com/6df67120f9.js')