header.header

  //- главная навигация

  nav.navbar.navbar-inverse.header-top
    .container
      .navbar-header.clearfix
        button.navbar-toggle.collapsed(data-toggle='collapse',data-target='#navbar', aria-expanded='false', aria-controls='navbar')
          span.sr-only Меню
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.header-logo-link(href='/').pull-left ТЧК
        ul.nav.navbar-nav#navbar.pull-left
          li
            a(href='#') Задания
          li
            a(href='#') FAQ
          li
            a(href='#') Рейтинг
          li.exit-link 
            a(href='#') Выйти

        //- Выпадающее меню профиля
        ul.nav.navbar-nav.dropdown.pull-right.user-menu
          li
            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
              | Глеб Кушедов 
              span.arrow
            ul.dropdown-menu
              li
                a(href='#') Редактировать
              li
                a(href='#') Выйти
  .header-bottom.hidden-xs
    .container
      .row
        .col-sm-2
          .status-item
            span.status-num 145
            span.status-text Баллов за&nbsp;неделю
        .col-sm-2
          .status-item
            span.status-num 945
            span.status-text Баллов за&nbsp;1&nbsp;этап
        .col-sm-2
          .status-item
            span.status-num 25
            span.status-text в&nbsp;рейтинге 1&nbsp;этапа
        .col-sm-2
          .status-item
            span.status-num 25
            span.status-text в&nbsp;общем рейтинге
        .col-sm-4
          a.status-item.status-item-fund
            span.status-num 1 240 000 Р
            span.status-text Призовой фонд
            .status-help ?
