header.header.header-admin

  //- главная навигация
  nav.navbar.navbar-inverse.header-top
    .container-non-responsive
      .navbar-header.clearfix
        a.header-logo-link(href='/').pull-left ТЧК
        .header-statistic.pull-left
          span.header-statistic-active 1460 активных участников
          a.header-statistic-check(href='#') На проверке
            span.badge.badge-info 356
        //- Выпадающее меню профиля
        ul.nav.navbar-nav.dropdown.pull-right.user-menu
          li
            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
              | Глеб Кушедов 
              span.arrow
            ul.dropdown-menu
              li
                a(href='#') Редактировать
              li
                a(href='#') Выйти
        //- Основное меню
        ul#navbar.nav.navbar-nav.pull-right
          li
            a(href='#') Книги
          li
            a(href='#') Задания
          li
            a(href='#') FAQ
          li
            a(href='#') Рейтинг
