.login-form
  form(action="/echo")
    .login-form-head
      h1.login-form-title Тотальная читка
      p.login-form-subtitle Вход в личный кабинет
    .login-form-btns
      a.btn.btn-fb(href='#') Facebook
      a.btn.btn-vk(href='#') Vkontakte
    a.login-form-link(href='#') Не могу зайти
