.repost
  form(action='/echo')
    .repost-item
      h1.h2
        | Опубликуйте свой конспект в соцсетях
      
      .input-group
        label(for="repostlink1") Ссылка на пост
      .input-group
        input(type="text", id='repostlink1').form-control
        span.input-group-btn
          button(type="submit").btn.btn-primary Отправить на&nbsp;проверку

      .well
        p.well-title Опубликуйте конспект в&nbsp;три&nbsp;клика
        .media.repost-book
          .media-left
            img.pull-left(src='assets/img/book-1-big.png', width='113', height='160', alt='')
          .media-body
            p.repost-book-name  Будь лучшей версией себя
            h2.repost-book-title Мой конспект
            p.repost-book-tag
              | В книжном марафоне <br><a href="#">#тотальнаячитка</a>

        .repost-book-btns
          a(href='#').btn.btn-repost-fb Опубликовать на Facebook
          a(href='#').btn.btn-repost-vk Опубликовать Вконтакте