.report.report-sent
  form(action='/echo')
    .report-item
      h2.h2
        | Написать эссе: как моя компания может изменить к лучшему мой город?
      .alert.alert-warning Задание на проверке. Вы не можете его редактировать
      textarea(rows="6")
        | When it comes to cooking there are few tools that are more versatile in the kitchen than the microwave. This device offers so many functions when it comes to cooking that most people never bother to utilize. It’s sad really. In most homes, the microwave has been relegated to doing duty as a meat defroster, popcorn popper, and coffee warmer rather than using is as the fabulous device for actual food preparation that it really is capable of being.
    
    .report-item
      h2.h2
        | Конспект по книге «Будь лучшей версией себя»
      .alert.alert-warning Задание на проверке. Вы не можете его редактировать
      textarea(rows="3")
        | When it comes to cooking there are few tools that are more versatile in the kitchen than the microwave. This device offers so many functions when it comes to cooking that most people never bother to utilize. It’s sad really.

    .report-item
      h2.h2
        | Опубликуйте свой конспект в соцсетях
      .alert.alert-warning Задание на проверке. Вы не можете его редактировать
      .form-group.repost-link
        label(for="postlink1") Ссылка на пост
        input(type="text", id="postlink1").form-control
    .report-item
      h2.h2
        | Опубликуйте видео на YouTube 
      .alert.alert-warning Задание на проверке. Вы не можете его редактировать
      .form-group.repost-link
        label(for="postlink2") Ссылка на пост
        input(type="text", id="postlink2").form-control
  