include ./mixins.jade

+editpanel('Редактируем задание', 'Добавить задание')

.task-edit
  .container
    form.form-horizontal
      .row
        .col-xs-6
          h1 Жизнь на полной мощности
          .form-group.row
            label.col-xs-2.col-form-label(for='book-name') Книга
            .col-xs-8
              select#book-name.form-control
                option Жизнь на полной мощности
                option Будь лучшей версией себя
                option Триггеры. Развивай полезные привычки
          .form-group.row
            label.col-xs-2.col-form-label(for='task-type') Тип
            .col-xs-3
              select#task-type.form-control
                option Конспект
                option Эссе
            label.col-xs-1.col-xs-offset-1.col-form-label(for='task-step') Этап
            .col-xs-2
              input.form-control#task-step(type='text', placeholder='1')
            label.col-xs-1.col-form-label(for='task-step') Этап
            .col-xs-2
              input.form-control#task-step(type='text', placeholder='1')
          .form-group.row
            label.col-xs-2.col-form-label(for='task-points') Баллы
            .col-xs-2
              input.form-control#task-points(type='text', placeholder='100')
          .form-group.row
            label.col-xs-12.col-form-label(for='task-text') Задание
            .col-xs-12
              textarea#task-text.form-control(placeholder='Привет. Это твое первое задание. Начинай с первой главы и сразу пиши конспект')
          .form-group.row
            .col-xs-4
              button.btn.btn-info(type='submit') Сохранить
            .col-xs-7
              p Применится ко всем пользователям сразу. осторожно!
        
        .col-xs-6
          .form-group.row
            p
              | Проверочные тезисы конспекта (каждый на отдельной строке)
            .col-xs-12
              textarea.form-control(placeholder='Ключевая идея занимает примерно три строки мелким шрифтом.')
