include ./mixins.jade
.user-rating
  form(action='/echo')
    table.user-rating-table
      thead
        tr
          td.user-rating-title
            b Мои успехи
          td За конспекты
          td За спецзадания
          td За видео
          td За репосты вк
          td За репосты фб
      tbody
        +user-success('1','Триггеры. Формируй привычки - закаляй характер', 'Джим Лоэр', '356', '25', '50', '5', '3')
        +user-success('2','Будь лучшей версией себя', 'Дэн Вальдшмидт', '326', '20', '70', '8', '427')
        tr.user-rating-total
          td
            b Всего 945 былло
          td(colspan='5')
            span Данные обновляются после полуночи, чтобы увидеть баллы сейчас можно
            button.btn.btn-info(type='submit') Пересчитать рейтинг

    table.user-rating-table-mobile
      thead
        tr
          td.user-rating-title(colspan='2') Мои успехи
      tbody
        +user-success-mobile('1','Триггеры. Формируй привычки - закаляй характер', '356', '25', '50', '5+3', '439')
        +user-success-mobile('2','Будь лучшей версией себя', '326', '20', '70', '8+3', '427')
        tr.user-rating-total
          td(colspan='2')
            b Всего 945 былло
            button.btn.btn-info(type='submit') Пересчитать рейтинг