include ./templates/mixins.jade
doctype html
html
  include ./templates/head-admin.jade 
  body
    include ./templates/header-admin.jade
    main.check-work.admin-page
  
      include ./templates/check-work-head.jade
      include ./templates/check-abstract.jade