include ./templates/mixins.jade
doctype html
html
  include ./templates/head.jade 
  body
    main
    
      .container
        ul(style="margin-top: 50px; line-height: 1.7; font-size: 16px;")
          li(style="list-style:none; font-weight: 500;") ЧИТАЮ
          li 
            a(href='login.html') Login
          li
            a(href='dashbord.html') Dashbord
          li
            a(href='book.html') Book
          li
            a(href='report.html') Report
          li
            a(href='report-sent.html') Report sent
          li
            a(href='report-video.html') Report video
          li
            a(href='repost.html') Repost
          li 
            a(href='rating.html') Rating
          br
          li(style="list-style:none; font-weight: 500;") АДМИНКА
          li
            a(href='users.html') Users
          li
            a(href='user.html') User
          li
            a(href='check-essey.html') Check essey
          li 
            a(href='check-abstract.html') Check abstract
          li
            a(href='program.html') Program
          li 
            a(href='task-edit.html') Task edit