include ./templates/mixins.jade
doctype html
html
  include ./templates/head.jade 
  body
    main
    
      .container
        ol(style="margin-top: 50px;")
          li
            a(href='dashbord.html') Dashbord
          li
            a(href='book.html') Book
          li
            a(href='report.html') Repost
          //- li
            //- a(href='rating.html') Rating
          //- li
            //- a(href='books.html') Books
            //- a(href='users.html') 
          //- li
            //- a(href='user.html')
          //- li
            //- a(href='user-essay.html')
          //- li
            //- a(href='program.html')
          //- li
            //- a(href='task-edit.html') Task edit
          //- li
            //- a(href='books.html')
          //- li
            //- a(href='book-edit.html') Book edit
          //- li
            //- a(href='check-abstract.html') 