include ./templates/mixins.jade
doctype html
html
  include ./templates/head.jade
  body
    main.login-page(style="background-image: url('assets/img/promo-bg.jpg');")
      include ./templates/login.jade