include ./templates/mixins.jade
doctype html
html
  include ./templates/head-admin.jade 
  body
    include ./templates/header-admin.jade
    main.program.admin-page
  
      .admin-head
        .container-non-responsive.clearfix
          .pull-left
            | 356 заданий
          .pull-right
            button.btn.btn-clear Добавить задание


      .container-non-responsive

        .program-step
          h1.h1  Этап 1

          .program-week
            h2.h2 Неделя 1
            table
              +program-week-step('Жизнь на полной мощности', 'Конспект', '0 - 50%', '100 баллов', 'Привет. Это твое первое задание. Начинай с первой главы и сразу пиши конспект')

          .program-week
            h2.h2 Неделя 2
            table
              +program-week-step('Жизнь на полной мощности', 'Конспект', '0 - 50%', '100 баллов', 'Отлично, теперь ты лучше знаком с книгой! Выпиши все ключевые идеи и ответь вопросы: как правильно…')
              +program-week-step('Жизнь на полной мощности', 'Эссе', '', '100 баллов', 'Какие ошибки в управлении своей жизнью я допускал и что я предприму теперь')
              +program-week-step('Жизнь на полной мощности', 'Видео', '', '75 баллов', 'Запиши видео о книге, какие главные мысли ты почерпнул, алеешь ли что не читал ее раньше, кому посоветуешь ее читать?')

          .program-week
            h2.h2 Неделя 3
            table
              +program-week-step('Жизнь на полной мощности', 'Конспект', '0 - 50%', '75 баллов', 'Новая мотивирующая книга даст энергию, чтобы двигаться вперед к достижению целей…')

          .program-week
            h2.h2 Неделя 4
            table
              +program-week-step('Жизнь на полной мощности', 'Конспект', '0 - 50%', '100 баллов', 'Отлично, теперь ты лучше знаком с книгой! Выпиши все ключевые идеи и ответь вопросы: как правильно…')
              +program-week-step('Жизнь на полной мощности', 'Эссе', '', '100 баллов', 'Какие ошибки в управлении своей жизнью я допускал и что я предприму теперь')
              +program-week-step('Жизнь на полной мощности', 'Видео', '', '75 баллов', 'Запиши видео о книге, какие главные мысли ты почерпнул, алеешь ли что не читал ее раньше, кому посоветуешь ее читать?')

        .program-step
          h1.h1  Этап 2

          .program-week
            h2.h2 Неделя 1
            table
              +program-week-step('Жизнь на полной мощности', 'Конспект', '0 - 50%', '100 баллов', 'Привет. Это твое первое задание. Начинай с первой главы и сразу пиши конспект')

          .program-week
            h2.h2 Неделя 2
            table
              +program-week-step('Жизнь на полной мощности', 'Конспект', '0 - 50%', '100 баллов', 'Отлично, теперь ты лучше знаком с книгой! Выпиши все ключевые идеи и ответь вопросы: как правильно…')
              +program-week-step('Жизнь на полной мощности', 'Эссе', '', '100 баллов', 'Какие ошибки в управлении своей жизнью я допускал и что я предприму теперь')
              +program-week-step('Жизнь на полной мощности', 'Видео', '', '75 баллов', 'Запиши видео о книге, какие главные мысли ты почерпнул, алеешь ли что не читал ее раньше, кому посоветуешь ее читать?')

          .program-week
            h2.h2 Неделя 3
            table
              +program-week-step('Жизнь на полной мощности', 'Конспект', '0 - 50%', '75 баллов', 'Новая мотивирующая книга даст энергию, чтобы двигаться вперед к достижению целей…')

          .program-week
            h2.h2 Неделя 4
            table
              +program-week-step('Жизнь на полной мощности', 'Конспект', '0 - 50%', '100 баллов', 'Отлично, теперь ты лучше знаком с книгой! Выпиши все ключевые идеи и ответь вопросы: как правильно…')
              +program-week-step('Жизнь на полной мощности', 'Эссе', '', '100 баллов', 'Какие ошибки в управлении своей жизнью я допускал и что я предприму теперь')
              +program-week-step('Жизнь на полной мощности', 'Видео', '', '75 баллов', 'Запиши видео о книге, какие главные мысли ты почерпнул, алеешь ли что не читал ее раньше, кому посоветуешь ее читать?')






