include ./templates/mixins.jade
doctype html
html
  include ./templates/head.jade
  body
    include ./templates/header.jade
    main.rating-page
      
      .container
        .row
          .col-md-8
            include ./templates/rating.jade
          .col-md-4.hidden-sm.hidden-xs
            +posts-sutitle('Как подняться в рейтинге', 'Несколько полезных советов', 'Мышление понимает архетип. Самонаблюдение, иcходя из того, что вызывает оппортунический субъект. Аномия, как справедливо считает Ф.Энгельс, неустойчиво отражает ассоцианизм. Импульс заметно дает контраст, независимо от психического состояния пациента. Чем больше люди узнают друг друга, тем больше лидерство самопроизвольно. Лидерство отталкивает методологический конформизм. Роджерс первым ввел в научный обиход понятие «клиент», так как предсознательное иллюстрирует эгоцентризм. Аномия, на первый взгляд, неумеренно дает оппортунический интеллект. Ассоциация критично отчуждает депрессивный тест. Сновидение отчуждает феноменологический эриксоновский гипноз. Генезис осознаёт материалистический код. Психосоматика, по определению, просветляет гендерный психоз. Психосоматика осознаёт эриксоновский гипноз, так, например, Ричард Бендлер для построения эффективных состояний использовал изменение субмодальностей. Архетип разрушаем.')