include ./templates/mixins.jade
doctype html
html
  include ./templates/head-report.jade 
  body
    include ./templates/header.jade  
    main.info-page
      .container
        .row
          .col-md-8.col-md-offset-2.col-xs-12
            +info-box('Ваш аккаунт заблокирован', 'bg-game-over', '', 'Вы вылетели', 'Вы не сдали отчет за неделю вовремя и теперь игра продолжается без вас. Иногда так случается. В следующий раз вам может повезти больше.', 'Перейти на сайт')(class='')