include ./templates/mixins.jade
doctype html
html
  include ./templates/head-report.jade 
  body
    include ./templates/header.jade  
    main.report-page
    
      .container
        a(href='/book.html').back-link Вернуться к книге
        .row
          .col-sm-8
            include ./templates/report.jade  
          .col-sm-4.hidden-xs
            aside.posts
              +posts('Как написать эссе','Олицетворение начинает эпизодический полифонический роман. Лирический субъект непосредственно иллюстрирует экзистенциальный голос персонажа. Мифопорождающее текстовое устройство взаимно. Быличка, если уловить хореический ритм или аллитерацию на "р", многопланово представляет собой гекзаметр.')
              +posts('Как мы оцениваем эссе','Лирика откровенна. Нельзя восстановить истинной хронологической последовательности событий, потому что звукопись редуцирует деструктивный размер. Лексика представляет собой поэтический палимпсест. Зачин неизменяем. Прустрация существенно отражает прозаический композиционный анализ, заметим, каждое стихотворение объединено вокруг основного философского стержня.')