include ./templates/mixins.jade
doctype html
html
  include ./templates/head-report.jade 
  body
    include ./templates/header.jade  
    main.info-page
      .container
        .row
          .col-md-8.col-md-offset-2.col-xs-12
            +info-box-close('bg-box-final', 'Сезон закрыт!', 'Спасибо, что были с нами, записывайтесь на второй сезон. Будут новые книги, звезды и призы. Следите за сообщениями в почте')