include ./templates/mixins.jade
doctype html
html
  include ./templates/head-report.jade 
  body
    include ./templates/header.jade  
    main.info-page
      .container
        .row
          .col-md-8.col-md-offset-2.col-xs-12
            +info-box('Ваш аккаунт оплачен и активен', 'bg-box-success', 'До старта осталось', '12 дней', 'Скоро здесь будут книги, конспекты, задания, рейтинги и проверки. А пока вы можете пригласить друзей - вместе веселее читать, обсждать и развиваться', 'Перейти на сайт и пригласить')(class='success')