include ./templates/mixins.jade
doctype html
html
  include ./templates/head-admin.jade 
  body
    include ./templates/header-admin.jade

    main.admin-page

      include ./templates/task-edit-head.jade
      include ./templates/task-edit.jade