include ./templates/mixins.jade
doctype html
html
  include ./templates/head-admin.jade 
  body
    include ./templates/header-admin.jade
    main.user.admin-page

      .container-non-responsive

        h1.user-name Сергей Лукерин
          span.label.label-success активен

        .user-about.clearfix
          ul.user-list.pull-left
            li
              span.user-list-title Работ сдано 
              span 5
            li
              span.user-list-title Баллов 
              span 225 
              span.user-list-muted за этап
            li
              span 225 
              span.user-list-muted за сезон
            li
              span.user-list-title Место в рейтинге
              span 11 
              span.user-list-muted за этап
            li
              span 22 
              span.user-list-muted за сезон
           ul.user-about-menu.pull-right.nav.navbar-nav.dropdown
            li
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') Действия
                span.caret
              ul.dropdown-menu
                li
                  a(href='#') Назначить декабристом
                li
                  a(href='#') Заблокировать
        
        h2.h2 Работы
        
        table.user-works
          tr
            td.user-works-book Будь лучшей версией себя
            td.user-works-type Конспект
              span.muted 50 – 100%
            td.user-works-status
              span.label.label-success принято
            td.user-works-points 75/100 баллов
            td.user-works-step Этап 1 → неделя 2
          tr
            td.user-works-book Будь лучшей версией себя
            td.user-works-type Эсее
            td.user-works-status
              span.label.label-info на проверке
            td.user-works-points 0 баллов
            td.user-works-step Этап 1 → неделя 2
          tr
            td.user-works-book Будь лучшей версией себя
            td.user-works-type Конспект
              span.muted 0 – 50%
            td.user-works-status
              span.label.label-success принято
            td.user-works-points 85/100 баллов
            td.user-works-step Этап 1 → неделя 1


